<!DOCTYPE html>
<html>

  <%- include('header', {layout: layout}); %>

  <body>
    <nav>
      <a href="users">Users</a>
    </nav>
    Witam, Jest to pierwsza aplikacja napisana w Node :)
  </body>

  <%- include('footer', {footer: footer}); %>

</html>
